// Typography
body {
  @include body-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
}

// Custom Horizontal Rule with Star Icon
hr.star-light,
hr.star-dark {

  border: 0;
  border-top: solid 0.25rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
  max-width: 15rem;
  padding: 0;

  text-align: center;
}

hr.star-light::after,
hr.star-dark::after {
  @extend .fas;

  @include fa-icon;

  content: fa-content($fa-var-star);

  display: inline-block;
  font-size: 2em;

  padding: 5px 0.25em 0;

  position: relative;
  top: -0.8em;
}

hr.star-light {
  border-color: #fff;
}

hr.star-light::after {
  background-color: $primary;
  color: $white;
}

hr.star-dark {
  border-color: $secondary;
}

hr.star-dark::after {
  background-color: #fff;
  color: $secondary;
}

// Section Padding Settings
section {
  padding: 6rem 0;

  h2 {
    font-size: 2.25rem;
    line-height: 2rem;
  }
  @media (min-width: 992px) {
    h2 {
      font-size: 3rem;
      line-height: 2.5rem;
    }
  }
}

// Custom Button Size
.btn-xl {
  font-size: 1.25rem;

  padding: 1rem 1.75rem;
}

// Custom Rounded Social Button
.btn-social {
  font-size: 1.25rem;
  height: 3.25rem;
  line-height: 2rem;

  width: 3.25rem;
}

// Scroll to Top Button
.scroll-to-top {
  bottom: 1rem;

  display: none;
  right: 1rem;
  z-index: 1042;

  a {

    background-color: fade-out($gray-900, 0.5);
    height: 3.5rem;
    line-height: 3.1rem;

    width: 3.5rem;
  }
}
