// Styling for the portfolio section
.portfolio {
  margin-bottom: -15px;

  .portfolio-item {
    display: block;
    margin-bottom: 15px;
    max-width: 25rem;
    position: relative;

    .portfolio-item-caption {
      background-color: fade-out($primary, 0.1);
      opacity: 0;
      transition: all ease 0.5s;
      transition: all ease 0.5s;
      transition: all ease 0.5s;

      &:hover {
        opacity: 1;
      }

      .portfolio-item-caption-content {
        font-size: 1.5rem;
      }
    }
  }
  @media (min-width: 576px) {
    margin-bottom: -30px;

    .portfolio-item {
      margin-bottom: 30px;
    }
  }
}

.portfolio-modal-dialog {
  box-shadow: 0 0 3rem 1rem fade-out(#000, 0.5);
  box-shadow: 0 0 3rem 1rem fade-out(#000, 0.5);
  box-shadow: 0 0 3rem 1rem fade-out(#000, 0.5);
  margin: 1rem auto;
  min-height: calc(80vh - 2rem);
  padding: 3rem 1rem;
  position: relative;
  z-index: 2;

  .close-button {
    position: absolute;
    right: 2rem;
    top: 2rem;

    i {
      line-height: 38px;
    }
  }

  h2 {
    font-size: 2rem;
  }
}
@media(min-width: 768px) {
  .portfolio-modal-dialog {
    margin: 3rem auto;
    max-width: 1200px;
    min-height: 80vh;
    padding: 5rem;

    h2 {
      font-size: 3rem;
    }
  }
}

.mfp-ajax-cur {
  cursor: progress;
}
