.admin {
  .nav {
    li {
      width: 100%;
      padding: 3px;
    }
  }
  img {
    width: 100%;
  }
  .add-new {
    font-size: 150px;
    text-align: center;
  }

  .project-data {
    p {
      margin: 10px 0;
    }
    input,
    textarea,
    table {
      width: 100%;
      max-width: 100%;
    }
    textarea {
      height: 150px;
    }
    td {
      padding: 3px 5px;
    }
    th {
      margin-bottom: 10px;
    }
  }
}
