@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    opacity: 0;
    transform: translateZ(400px);
  }

  40% {
    opacity: .6;
  }

  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

@keyframes flip-2-hor-top-1 {
  0% {
    transform: translateY(0) rotateX(0);
    transform-origin: 50% 0%;
  }

  100% {
    transform: translateY(-100%) rotateX(-180deg);
    transform-origin: 50% 100%;
  }
}
