body {
  background-color: $light-grey;
  font-family: 'Raleway', sans-serif;
  overflow-x: hidden;
}

.welcome {

  header {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-bottom: 12vh;
    width: 100vw;
  }

  main {
    margin: 0 auto;
    width: 85vw;
  }

  .overlay {
    background-color: $transparent-black;
    box-shadow: inset 0 -30px 20px -10px $light-grey;
    color: $white;
    height: 100%;
    padding-left: 5vw;
    width: 100vw;

    .intro {
      line-height: 120%;
      padding-left: 1vw;
      text-align: justify;
      width: 40vw;
    }

    a {
      color: $dark-grey;
      margin: 0 5px;
      text-decoration: none;
    }
  }

  .welcome-title {
    color: $transparent-white;
    font-family: 'Lalezar', cursive;
    font-size: 20vh;
    padding: 15vh 0 0 1vw;
    animation: tracking-in-contract-bck 1s cubic-bezier(.215, .610, .355, 1.000) both;
  }

  .links {
    color: $dark-grey;
    font-size: 25px;
    position: absolute;
    right: 4vw;
    top: 15vh;

    > a {
      display: block;
      margin-top: 1.5vh;

      > i {
        margin-right: 1vh;
      }
    }

    > a:hover {
      color: $white;
    }
  }

  .touchscreen {
    display: none;
  }

  .project {
    display: inline-block;
    margin: 0 2vw 4vh;
    position: relative;
    vertical-align: top;
    width: 24vw;

    > .img {
      background-position: center;
      background-size: cover;
      height: 25vh;
      margin-bottom: 5px;
      width: 100%;
    }

    p {
      color: $dark-grey;
      line-height: 120%;
      text-align: justify;
    }
  }

  .layover {
    background-color: $light-grey;
    left: 0;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    top: 3vh;
    width: 100%;

    a {
      color: $dark-grey;

      > img {
        height: 6vh;
        margin-top: 6vh;
      }
    }

    > p {
      font-weight: bold;
      margin-bottom: 10px;
      margin-top: 4vh;
      padding: 10px 0;
      text-align: center;
      word-spacing: 8px;
    }
  }

  h1,
  h2 {
    text-align: center;
    width: 100%;
  }

  h1 {
    font-size: 8vh;

    ::after {
      background: linear-gradient(to right, $white 0%, $medium-grey 50%, $black 100%);
      content: '';
      display: block;
      height: 1px;
      margin-bottom: 5vh;
      margin-top: 10px;
    }
  }

  h2 {
    font-size: 3vh;
    margin-bottom: 10px;
  }

  .cv {
    background-color: $dark-grey;
    color: $white;
    font-family: 'Source Code Pro', monospace;
    margin: 20px 0 0 20px;

    p {
      margin-bottom: 30px;
    }

    a {
      bottom: 10px;
      position: absolute;
    }
  }

  .blue {
    color: $blue;
  }

  .orange {
    color: $orange;
  }

  .line-through {
    text-decoration: line-through;
  }

  .label {
    display: inline-block;
    font-size: 80%;
    margin-right: 2px;
    margin-top: 2px;
  }

  .layover
  .label {
    font-size: 150%;
    margin-right: 4px;
  }
}

footer {
  font-size: 10px;
  margin: 15vh auto 10px;
  width: 81vw;
}
