body {
  background-color: $light-grey;
  font-family: 'Istok Web', sans-serif;
  overflow-x: hidden;
}

.welcome {

  header {
    background-image: url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    margin-bottom: 12vh;
    width: 100vw;
  }

  main {
    margin: 0 auto;
    width: 85vw;
  }

  .overlay {
    background-color: $transparent-black;
    box-shadow: inset 0 -30px 20px -10px $light-grey;
    color: $white;
    height: 100%;
    padding-left: 5vw;
    width: 100vw;

    .intro {
      line-height: 120%;
      padding-left: 1vw;
      text-align: justify;
      width: 40vw;
    }

    a {
      color: $dark-grey;
      margin: 0 5px;
      text-decoration: none;
    }
  }

  h1 {
    animation: tracking-in-contract-bck 1s cubic-bezier(.215, .610, .355, 1) both;
    color: $transparent-white;
    font-size: 20vh;
    padding: 15vh 0 0 1vw;
  }

  .links {
    color: $dark-grey;
    font-size: 25px;
    position: absolute;
    right: 4vw;
    top: 15vh;

    a {
      display: block;
      margin-top: 1.5vh;
    }

    a:hover {
      color: $white;
    }

    i {
      margin-right: 1vh;
    }
  }

  .project {
    display: inline-block;
    height: auto;
    margin: 0 2vw 4vh;

    p {
      color: $dark-grey;
      line-height: 120%;
      text-align: justify;
    }
    img {
      display: block;
      max-width: 100%;
    }

    .tags,
    .description {
      display: none;
    }
  }

  .project-content {
      .tags,
      .description
      .links {
        margin-bottom: 15px;
      }
  }

  .project-header {
    backface-visibility: hidden;
    display: block;
    height: 24vh;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    width: 100%;
  }

  h1,
  h2 {
    font-family: 'Lalezar', cursive;
  }

  h2,
  h3 {
    text-align: center;
    width: 100%;
  }

  h2 {
    font-family: 'Lora', serif;
    font-size: 8vh;

    &::after {
      background: linear-gradient(to right, $transparent 0%, $medium-grey 50%, $transparent 100%);
      content: '';
      display: block;
      height: 1px;
      margin-bottom: 5vh;
      margin-top: 10px;
    }
  }

  h3 {
    font-size: 3vh;
    margin-bottom: 10px;
  }

  .cv {
    background-color: $dark-grey;
    color: $white;
    font-family: 'Source Code Pro', monospace;
    margin: 20px 0 0 20px;

    p {
      margin-bottom: 30px;
    }

    a {
      bottom: 10px;
      position: absolute;
    }
  }

  .blue {
    color: $blue;
  }

  .orange {
    color: $orange;
  }

  .line-through {
    text-decoration: line-through;
  }

  .label {
    display: inline-block;
    font-size: 80%;
    margin-right: 2px;
    margin-top: 2px;
  }

  .layover
  .label {
    font-size: 150%;
    margin-right: 4px;
  }
}

.row {
    margin-bottom: 10px;
}

footer {
  font-size: 10px;
  margin: 15vh auto 10px;
  width: 81vw;
}
