.text-justify {
    text-align: justify;
}

.about p,
.project .description {
    text-align: justify;
}

footer i {
    margin: 2px 2px 0 0;
}

.g-recaptcha {
    display: inline-block;
}

.badge-outline {
    font-weight: 100;

    margin: 0 5px;

    color: black;
    border-bottom: 1px solid #61a8fb;
    border-radius: 0;

    &:hover {
        // border-top: 1px solid #61a8fb;
        // background-color: #61a8fb;
        text-decoration: none;
    }

    b {
        font-weight: bold;
    }
}

.ribbon {
    font-family: sans-serif;

    position: absolute;
    right: -40px;
    bottom: 10px;

    width: 150px;
    padding: 0 10px;

    transform: rotate(-45deg);

    color: rgb(50, 50, 50);
    border: 25px solid transparent;
    border-top: 25px solid #ffd700;

    size: 11px;

    .txt {
        position: absolute;
        top: -25px;
        left: 20px;
    }

    i {
        font-size: 80%;
    }
}

#numbers {
    a {
        color: white;
    }
}
