body {
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
  background-color: #f2f2f2;
}

header {
  height: 75vh;
  width: 100vw;
  margin-bottom: 12vh;
  background-image: url('../images/header.png');
  background-repeat: no-repeat;
  background-size:cover;
}

main {
  width: 85vw;
  margin: 0 auto;
}

footer {
  font-size: 8px;
  width: 81vw;
  margin: 10px auto;
  margin-top: 15vh;
}

#overlay {
  width: 95vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  padding-left: 5vw;
  -webkit-box-shadow: inset 0px -30px 20px -10px rgba(242,242,242,1);
  -moz-box-shadow: inset 0px -30px 20px -10px rgba(242,242,242,1);
  box-shadow: inset 0px -30px 20px -10px rgba(242,242,242,1);
}

#welcome {
  font-size: 20vh;
  padding-top: 15vh;
  font-family: 'Lalezar', cursive;
  color: rgba(255, 255, 255, 0.4)
}

#overlay p {
   width: 40vw;
   padding-left: 1vw;
   text-align: justify;
}

#overlay a {
  color:  #666;
  text-decoration: none;
  margin: 0 5px;
}

.links {
  margin-top: 20px;
  color:  #666;
}

#touchscreen {
  display: none;
}

.project {
  display: inline-block;
  width: 24vw;
  margin: 0 2vw 4vh 2vw;
  vertical-align: top;
  position: relative;
  text-align: center;
}

.project > img {
  max-width:100%;
  margin-bottom: 5px;
  min-height: 18vh;
}

.project p {
  text-align: justify;
  color: #777;
  line-height: 120%;
}

.layover {
  width: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  position: absolute;
  left: 0px;
  top: 3vh;
  margin-top: 2px;
  text-align: center;
}

.layover a > img {
  height: 6vh;
  margin-top: 6vh;
}

.layover > p {
  margin-top: 4vh;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
  word-spacing: 8px;
}

.layover a {
  color: #777;
}

h1, h2 {
  width: 100%;
  text-align: center;
}

h1 {
  font-size: 8vh;
}

h1:after {
    content: "";
    height: 1px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
    display: block;
    margin-bottom: 5vh;
    margin-top: 10px;
}

h2 {
  font-size: 3vh;
  margin-bottom: 5px;
}
